*{
	font-family: "Borda-Regular";
}

body {
	background-color: #000000;
	color: #ffffff;
}

main {
	margin: 0 auto;
	max-width: 800px; 
}

header{
	text-align: center;
	margin-bottom: 20px;
}

header > h1, header > p{
	margin: 0;
}

footer{
	text-align: center;
	color: grey;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer a{
	color: grey;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

.container {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.post {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

article{
	margin-top: 20px;
	margin-bottom: 20px;
}

article > h1 {
	margin: 0;
	color: #FF6D10;
}

article > h4 {
	margin-bottom: 0;
	color: #FF6D10;
}

article > p > a {
	color: #FF6D10;
}

tr {
	background-color: rgba(255, 255, 255, 0.1);
}

th, td {
	padding: 8px;
}

td {
	vertical-align: top;
}

time{
	margin: 0;
	color: grey;
	display: block;
}

.post-item--categories{
	margin: 0;
	color: grey;
	display: inline-block;
	padding: 0 3px;
	border: 1px solid grey;
}

.post-image{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-links{
	padding: 10px;
}

.post-item--excerpt{
	font-family: "Borda";
	color: #ffffff;
}

.logo {
	position: relative;
	padding: 20px;
}

.cookie-info {
	position: absolute;
	right: 4px;
	top: 6px;
	text-decoration: none;
	cursor: help;
}

.cookie-info span[rel=tooltip] {
	display: none;
}

.cookie-info:hover span[rel=tooltip] {
	display: block;
	position: absolute;
	right: 24px;
	top: 6px;
	width: 15em;
	padding: 0.5em;
	z-index: 100;
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.1);
	border: solid 1px #FF6D10;
	font-size: 12px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-item h3{
	margin: 0;
}